<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" *ngIf="authService.isAuthenticated()">
                <li routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a routerLink="/recipes">Recipies</a>
                </li>
                <li routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a routerLink="/shopping-list">Shopping
                        List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li data-toggle="collapse" data-target=".navbar-collapse.in">
                        <a routerLink="/signin">Login</a>
                    </li>
                    <li data-toggle="collapse" data-target=".navbar-collapse.in">
                        <a routerLink="/signup">register</a>
                    </li>
                </ng-template>
                <li data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a style="cursor: pointer" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a>
                </li>
                <li class="dropdown" *ngIf="authService.isAuthenticated()">
                    <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown" role="button">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target=".navbar-collapse.in">
                            <a style="cursor: pointer" (click)="onSaveData()">Save Data</a>
                        </li>
                        <li data-toggle="collapse" data-target=".navbar-collapse.in">
                            <a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>