<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="signinForm" (ngSubmit)="onSignin()" class="form">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput 
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Email">
              <mat-error *ngIf="signinForm.get('email').hasError('email') && !signinForm.get('email').hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="signinForm.get('email').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput 
              [type]="hidePwd ? 'password' : 'text'"
              formControlName="password" 
              [errorStateMatcher]="matcher">
              <button mat-icon-button matSuffix type='button' (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePwd">
                <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="signinForm.get('password').hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>            

            <button mat-raised-button color="primary" [disabled]="!signinForm.valid">Login</button>
        </form>
    </div>
</div>